name: lumi_qr_scanner
description: "A fast and lightweight Flutter plugin for scanning barcodes and QR codes using the device's camera. Supports multiple barcode formats with CameraX/ML Kit on Android and AVFoundation on iOS/macOS."
version: 0.0.4
homepage: https://github.com/Nghi-NV/lumi_qr_scanner
repository: https://github.com/Nghi-NV/lumi_qr_scanner

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.nghinv.flutter_qrcode
        pluginClass: LumiQrScannerPlugin
      ios:
        pluginClass: LumiQrScannerPlugin
      macos:
        pluginClass: LumiQrScannerPlugin

